@import url('https://fonts.googleapis.com/css?family=Orbitron');
h1,h5,p,button {
	font-family: 'Orbitron', sans-serif;
	line-height: 10%;
}

input {
	display: none;
	position: absolute;
	left: 250px;
	top: 280px;
	width: 120px;
}

.button {
	display: none;
	overflow: hidden;
	position: absolute;
	left: 250px;
	top: 300px;
	margin: 10px;
	padding: 12px 12px;

	cursor: pointer;
	user-select: none;
	transition: all 60ms ease-in-out;
	text-align: center;
	white-space: nowrap;
	text-decoration: none !important;
	text-transform: none;
	text-transform: capitalize;

	color: #fff;
	border: 0 none;
	border-radius: 4px;

	font-size: 14px;
	font-weight: 500;
	line-height: 1.3;

	-webkit-appearance: none;
	-moz-appearance:    none;
	appearance:         none;


	&:hover {
		transition: all 60ms ease;

		opacity: .85;
	}

	&:active {
		transition: all 60ms ease;
		opacity: .75;
	}

	&:focus {
		outline: 1px dotted #959595;
		outline-offset: -4px;
	}
}

.button.-regular {
	color: #202129;
	background-color: #edeeee;

	&:hover {
		color: #202129;
		background-color: #e1e2e2;
		opacity: 1;
	}

	&:active {
		background-color: #d5d6d6;
		opacity: 1;
	}
}
.centered{
	width:650px;
	margin:0 auto;
	position:relative;
}
